In [63]:
import pandas as pd
#List1
lst = [['tom', 'reacher',25],['krish', 'pete', 30],
    ['nick', 'wilson', 26], ['juli', 'williams', 22]]
df = pd.DataFrame(lst, columns=['FName','LName', 'Age'], dtype = float)     
print(df)

<ipython-input-63-e4293879006e>:5: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst, columns=['FName','LName', 'Age'], dtype = float)

   FName     LName   Age
0    tom   reacher  25.0
1  krish      pete  30.0
2   nick    wilson  26.0
3   juli  williams  22.0

In [38]:
#importing pandas
import pandas as pd
#list of dicts
input_df=[{'name':'Sujeet', 'age':10},
        {'name':'Sameer', 'age':11},
        {'name':'Sumit', 'age':12}]

df=pd.DataFrame(input_df)
print('Original DataFrame:\n', df)
print('\nRows iterated using iterrows() :')
for index, row in df.iterrows():
    print(row['name'], row['age'])

Original DataFrame:
      name  age
0  Sujeet   10
1  Sameer   11
2   Sumit   12

Rows iterated using iterrows() :
Sujeet 10
Sameer 11
Sumit 12

In [40]:
#importing pandas
import pandas as pd
#list of dicts
input_df=[{'name':'Sujeet', 'age':10},
        {'name':'Sameer', 'age':110},
        {'name':'Sumit', 'age':120}]

df=pd.DataFrame(input_df)
print('Original DataFrame:\n', df)
print('\nRows iterated using itertuples() :')
for row in df.itertuples():
    print(getattr(row, 'name'), getattr(row, 'age'))

Original DataFrame:
      name  age
0  Sujeet   10
1  Sameer  110
2   Sumit  120

Rows iterated using itertuples() :
Sujeet 10
Sameer 110
Sumit 120

In [75]:
#importing pandas
import pandas as pd
#Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'Ma', 'MCA', 'phd']}
#Convert the dictionary into DataFrame
df = pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            Ma
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           phd

In [77]:
#select three rows and two columns
print(df.loc[1:2, ['Name', 'Qualification']])

     Name Qualification
1  Princi            Ma
2  Gaurav           MCA

In [81]:
#importing pandas
import pandas as pd
#Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'Ma', 'MCA', 'phd']}
#Convert the dictionary into DataFrame
df = pd.DataFrame(data)
#.loc DataFrame method
#filtering rows and selecting columns by label format
#df.loc[rows, colums]
#row 1, all columns
print(df.loc[3])

Name                Anuj
Age                   32
Address          Kannauj
Qualification        phd
Name: 3, dtype: object